h4 {

    color: #FFFFFF;
    font-family: Zen Kaku Gothic New;
}

/* *Select */
.form-select {

    color: white;
    background: #202020 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
    width: 367px;
    border-radius: 10px;
    color: #6C757D;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.input {
    color: white;
    background: transparent;
}

h4 span {
    color: #92478C;
    font-family: Zen Kaku Gothic New;
}

h2 {
    font-family: Zen Kaku Gothic New;
}

h5 {
    font-family: Zen Kaku Gothic New;
}

#estadocompra {
    margin-top: 5rem;
    font-family: Zen Kaku Gothic New;
    text-align: center;
    font-size: 1.6em;
    justify-content: center;
}

#revision-pedido {
    color: #92478C;
    text-align: left;
    margin-left: 1rem;
}

#card-revisionpedido {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 1em;
}

#detalles-pedido {
    margin-top: -7.5em;
}

#detalles-cantidad {
    margin-left: 37%;
    margin-top: -5.5em;
}

#card-contenido {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 3rem;
    margin-bottom: 5rem;

}

#revisarcompra-button {
    padding: 0.3rem;
    background-color: #92478C;
    border: 1px solid #92478C;
    border-radius: 10px;
    width: 100%
}

#editarcarrito-button {
    margin-top: 0.8rem;
    padding: 0.3rem;
    background-color: transparent;
    border: 1px solid #92478C;
    border-radius: 10px;
    width: 100%
}

#seguircomprando-button {
    margin-top: 0.8rem;
    padding: 0.3rem;
    background-color: transparent;
    border: 1px solid #92478C;
    border-radius: 10px;
    width: 100%
}

#subtotal {
    border-top: 1px solid #FFFFFF;

}

.form-control {
    background-color: transparent;
    border-radius: 10px;

}

:root {
    --form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.textoradio {
    font-family: system-ui, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.1;

    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"] {
    appearance: none;
    background-color: rgb(250, 250, 250);
    margin-top: 5%;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.35em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}



  input[type="radio"]::before {
    content: "";
    width: 0.85em;
    height: 0.85em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    display: inline-block;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  .form-control:focus-within {
    color: var(--form-control-color);
  }

  p span {
    color: #6c757d;
    font-size: 0.7rem;
    font-family: Zen Kaku Gothic New;
  }

  p {
    font-family: Zen Kaku Gothic New;
  }

  /*responsive*/
@media(min-width:481px) and (max-width:1023px) {

    #infocomprador {
        width: 100%;
    }

    #revisionpedido {
        width: 100%;
    }

}

@media(max-width: 480px) {
    #infocomprador {
        width: 100%;
    }

    #revisionpedido {
        width: 100%;
    }
}