

.FT{
    font-family: "Roboto", Bold;
    text-align: start;
}

.logo {
    flex-flow: row wrap;

}

.rrss{
    justify-content: space-around;
    margin-top: 1rem;
}

.rrss img {
    margin: 1%;
}

.footer_bloques {
    margin: 2%;
    font-size: medium;
    text-align: start;
    font-family: "Roboto", Light;
}

.footer_bloques a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}


.footer_bloques a:hover {
    text-decoration: none;
    color: #92478C;
    transition: 0.5s;
}

.noti {
    justify-content: center;
    background-color: #92478C;
    margin: 0;
    padding: 0.3rem;
    font-size: medium;
}

#estadocompra{
    margin-top: 1rem;
    font-family: Zen Kaku Gothic New;
    text-align: center;
    font-size: 1.6em;    
    justify-content: center;
}

h4 span {
    color:#92478C;
    font-family: Zen Kaku Gothic New;
}

#divcentral{
    padding-left: 5em;
    padding-right: 5em;
}

#logoblanco{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 9.375em;
    margin-right: auto;
    margin-left: auto;
}

#fila1 {
    border-bottom: 1px solid #FFFFFF;

    
}

h4 span {
    color: #92478C;
    font-family: Zen Kaku Gothic New;
}

#pagar-button {
    padding: 0.5rem;
    background-color: #92478C;
    border: 1px solid #92478C;
    border-radius: 10px;
    width: 25%;
    
    
}


@media(max-width: 480px) {
    #divcentral {
        padding-left: 0em;
        padding-right: 0em;
    
    }
    #precio-unitario{
        display:none !important;
    }

    #precio-unitario-pesos{
        display: none !important;
       
    }

    #info-contacto {
        width: 100%;
    }

    #metodo-pago {
        width: 100%;
    }

    #direccion-envio {
        width: 100%;
    }

    #direccion-facturacion {
        width: 100%;
    }




}